body {
	font-family: 'Dancing Script', cursive;
}

.contenido {
	margin: 0;
	padding: 0;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.cabecera {
	border-radius: 10px 10px 0px 0px;
	background-color: #5b7989;
	color: white;
}

.cabecera h1 {
	text-align: left;
	text-shadow: 2px #02010a;
}

.nav {
	text-align: right;
}

a:link{
	text-decoration: none;
}