body {
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
    overflow-x: hidden;
}
.contenido {
    -webkit-animation: miSlideIn 1s;
    animation: miSlideIn 1s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	position: absolute;
	top: 0px;
	margin-left: -450px; /* mitad del ancho maximo*/
	left: 50%;
	padding: 0;	
}

.cabecera {
	position: absolute;
	border-radius: 10px 10px 0px 0px;
	background-color: #5b7989;
	color: white;
	width: 900px;
    height: 90px;
}

.cabecera h1 {
	float: left;
	text-shadow: 2px 2px #02010a;
	margin-left: 30px; 
}

.cabecera nav {
	float: right;
	margin-top: 15px;
	margin-right: 30px; 
}

.cabecera nav ul{
	list-style: none;
}
.cabecera nav ul li{
	font-size: 19px;
	display: inline;
	margin-left: 30px;
}

a:visited,a:link{
	text-decoration: none;
	color: white;
}

p{
	text-decoration: underline;
	display: inline-block;
	margin-top: -50px;
}

.imagen-central{
    background-color: #82c3a6;
    margin-top: 90px;
    width: 900px;
    height: 450px;
}

.imagen-central picture{
    display: block;
    width: 900px;
    margin-top: 40px;
    margin-left: 120px;
}

.imagen-central picture img{
    border-right: 2px solid #02010a;
    border-bottom: 2px solid #02010a;
    width: 75%;
    height: 75%;
}

.imagenes-secundarias{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: #d5c75f;
    width: 900px;
    height: 350px;
}

.columnas{
    text-align: center;
    font-size: 25px;
    width: 400px;
    height: 270px;
    margin-top: 20px;
    margin-left: 32px;
}

.imagenes-secundarias picture img{
    transition: transform 1s;
    border-right: 2px solid #02010a;
    border-bottom: 2px solid #02010a;
    width: 100%;
    height: 100%
}

.imagenes-secundarias picture img[src='img/second1.jpg']:hover{
    transform: rotate(10deg);
    border-right: 2px solid #82c3a6;
}

.imagenes-secundarias picture img[src='img/second2.jpg']:hover{
    transform: translate(20px,-5px);
    border: 2px solid #82c3a6;
}

.pie-de-pagina{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
    width: 900px;
    height: 300px;
}

.columna-pie{
    width: 180px;
    height: 270px;
    margin-top: 20px;
    margin-left: 35.5px;
}

.pie-de-pagina a{
    color: black;
}

.pie-de-pagina img{
    margin-left: 12px;
}

@media (max-width:900px){
    
    .contenido {
        width: 100%;
        top: 0px;
        margin-left: 0px;
        left: 0%;
    }
    
    .cabecera {
        margin-left: 0px;
        width: 100%;
        height: 150px;
    }
    
    .cabecera h1 {
        text-align: center;
        float: none;
    }

    .cabecera nav {
        text-align: center;
        float: none;
    }
    
    .imagen-central{
        margin-top: 150px;
        width: 100%;
        height: 230px;
    }
    

    .imagen-central picture{
        display: block;
        position: relative;
        top: -5%;
        left: 12.5%;
        width: 100%;
        margin-left: 0px;
    }

    .imagen-central picture img{
        border-right: 2px solid #02010a;
        border-bottom: 2px solid #02010a;
        width: 75%;
        height: 75%;
    }
    .imagenes-secundarias{
        width: 100%;
        height: 650px;
    }
    
    .imagenes-secundarias picture img{
        width: 70%;
        height: 70%
    }
    .columnas{
        margin-top: 35px;
        margin-left: 10px;
    }
    .pie-de-pagina{
        height: 100%;
    }
    
    .columna-pie{
        margin-top: 1px;
        height: 100%;
    }
    
}

@-webkit-keyframes miSlideIn{
    0%{
    margin-top: 150%;
    }
    60%{
    margin-top: -5%;
    }
    100%{
    margin-top: 0%;
    }
}

@keyframes miSlideIn {
    0%{
    margin-top: 150%;
    }
    60%{
    margin-top: -5%;
    }
    100%{
    margin-top: 0%;
    }
}